.Header {
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0;
}

.CenterDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 700;
    margin-right: 25px;
}

.LinkedIn {
    color: #0072b1;
}

.Emner {
    color: #000000;
}