.Container {
    position: absolute;
    top: 10%;
    right: 30%;
}
.Picture {
    width: 500px;
}

.Header {
    font-size: 50px;
    font-family: 'Roboto';
    margin: 0;
}

.CenterDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 700;
    color: #0072b1;
}