.Form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Label {
    font-family: 'Roboto';

}

.Input {
    margin: 12px;
    padding: 12px 20px;
    width: 80px;
    padding: 12px 20px;
    background-color: #c4caff;
    border-color: rgb(55, 76, 143);
    border-radius: 10px;
    text-align: center; 
}